NPCTEMPLATE
#宠物竞速主持人
{
templatename=petracemaster
makeatnobody=1
makeatnosee=1
type=SPR_sslma_1
functionset=PetRaceMaster
}

{
templatename=petracepet
makeatnobody=1
makeatnosee=1
type=100872
functionset=PetRacePet
hp=100
mp=100
str=1
tough=1
}
